/* styling common to everything */

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}




/* styling the body */
body{
    width: 100%;
    display: flex;
    justify-content: center;
    background-image: url("../img/4/c17.jpg");
    /*background: #ccffcc;*/
    background-size: cover;
}



/* styling the main div or starting div */

#div1{
    max-width: 75%;
    margin: 20px 0px;
    display: flex;
    flex-direction: column;
    flex: 1;
}







/* styling signin form */

#div2enqueryform{
    display: flex;
    flex-direction: column;
    width: 45%;
    margin: 10% auto;
    padding: 15px;
    text-align: center;
    /*background: url("/HOLY/static/img/4/c69.jpg");*/
    background-size: cover;
    border-radius: 1px;
    box-shadow: 5px 5px 10px lightgreen;
}

#h1{
    text-align: center;
    font-family: 'Bad Script', cursive;
    font-size: 30px;
    text-shadow: green 3px 3px 5px;
    color: #ffffff;
    padding-top: 10%;
}


#div2enqueryform input{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 44px;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
}


.txtb{
    margin: 20px 0;
    background: rgba(255, 255, 255, 0.5);
    border-radius: 6px;
}

.enquery-btn{
    margin-top: 40px;
    margin-bottom: 20px;
    background: lightgreen;
    color: #fff;
    border-radius: 44px;
    cursor: pointer;
    transition: 0.8s;
    font-size: 15px;
}

.enquery-btn:hover{
    transform: scale(0.96);
}


#div2enqueryform textarea{
    display: block;
    width: 100%;
    padding: 0 16px;
    height: 20%;
    text-align: center;
    box-sizing: border-box;
    outline: none;
    border: none;
}

@media (max-width: 991px) {
    #div2enqueryform{
        width: 300px;
    }
}