

    <link rel="stylesheet" href="{{ url_for('static', filename='css/add_post.css') }}">


    <div id="div1">

        <div id="div2signupform">

            <h1 id="h1">Edit Post</h1>

            {% from "includes/_formhelpers.html" import render_field %}

            <form method="POST" action="">

                <div class="form-group">
                    {{render_field(form.title, class="txtb")}}
                </div>

                <div class="form-group">
                    {{render_field(form.body, class="txtb", id="editor")}}
                </div>


                <a href="#" id="a1"><input type="submit" value="Send Post" class="signup-btn" id="sub" onsubmit="confirmation_box()"/></a>

            </form>


        </div>

    </div>



        <script src="//cdn.ckeditor.com/4.11.4/standard/ckeditor.js"></script>
        <script>
            CKEDITOR.replace('editor')
        </script>




