

    <link rel="stylesheet" href="{{ url_for('static', filename='css/enquiry.css') }}"/>

    <div id="div1">

        <div id="div2enqueryform">
            {% include 'includes/_messages.html' %}

            <form name="sentMessage" action="/enquiry" method="post">
                <h1 id="h1">Have any queries? We are here to reply</h1>
                <input type="text" placeholder="Name" name="name" class="txtb"/>
                <input type="text" placeholder="Email" name="email" class="txtb"/>
                <input type="text" placeholder="Mobile No" name="phone" class="txtb"/>
                <textarea name="message" id="mes" cols="40" rows="10" placeholder="Write your query here..." class="txtb"></textarea>
                <input type="submit" value="Send your query" class="enquery-btn"/>
            </form>

        </div>

    </div>

