{% extends 'layout.html' %}
{% block body %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/home.css') }}"/>

        <!-- coding for quotation image elements -->
        <div id="quot">
            <p id="p1">how can i know God</p>
            <p id="p2">a website for truth seeker</p>
            <p id="p3">You shall know the truth, and the truth shall make you free.  John 8:32</p>
            <marquee behavior="" direction=""><p id="p4">come and experience holyland tour with us</p></marquee>
        </div>



        <!-- coding for image slider-->
        <div>
            <figure class="slider">

            </figure>
        </div>





        <!-- coding for middle content explore elements-->
        <div id="btn-toggle1">
            <div class="glowing1">
                <label>
                    <input type="checkbox" name=""/><h1 id="on-off1">Explore it</h1>
                </label>
            </div>
            <div class="middle-item1">
                <div class="box1"><a href="/holyland_tour" target="_blank">HOLYLAND TOUR</a><p class="items-overview"><br/>Wanna walk where Jesus walked, sign up or sign in and experience the holyland tour with us. Explore our package and terms and conditions and more...</p></div>
                <div class="box1"><a href="/jud_chris" target="_blank">JUDIASM & CHRISTIANITY</a><p class="items-overview"><br/>Belief in one transcendent God who revealed himself to Abraham, Moses, and the Hebrew prophets. Both Christians and Jews follow the Old Testament of the Bible, but Christians also embrace the New Testament.
Explore it to know more...</p></div>
                <div class="box1"><a href="/about_israel" target="_blank">ABOUT ISRAEL</a><p class="items-overview"><br/>Israel is known to be the land of God or holy land. Israelite tradition identified YHWH (Yahweh), the God of Israel, with the creator of the world, who had been known and worshipped from the beginning of time. Explore it...</p></div>
            </div>
            <div class="middle-item1">
                <div class="box1"><a href="myportfolio" target="_blank">FOUNDER'S PROFILE</a><p class="items-overview"><br/>This website is designed and developed for organization to carry the mission to spread the Gospel of Jesus Christ by organizing holyland tour twice in a year. Know about personal details of founder's of this organization and website, explore it...</p></div>
                <div class="box1"><a href="/#bible">HOLY BIBLE</a><p class="items-overview"><br/>If you want to know about true God, real history of the world, what exactly we are, why man and women formed, and about many many more things, you are just one click away.</p></div>
                <div class="box1"><a href="/#etu">ETU CHURCH</a><p class="items-overview"><br/>Sunday worship timing - Summer: 9 am onwards. Winter: 10 am onwards. For other events, church will make announcement on sunday after sunday worship. Eplore it to know more...</p></div>
            </div>

        </div>


        <!-- coding for middle content explore more elements-->
        <div id="btn-toggle2">
            <div class="glowing2">
                <label>
                    <input type="checkbox" name=""/><h1 id="on-off2">Explore more</h1>
                </label>
            </div>
            <div class="middle-item2">
                <div class="box2"><a href="/songs" target="_blank">SONGS</a><p class="items-overview"><br/>Common themes of Christian music include praise, worship, penitence, and lament, and its forms vary widely across the world. Songs are the major medium of worshiping our God. Explore it and enjoy the christian music...</p></div>
                <div class="box2"><a href="/about_israel#map" target="_blank">HOLYLAND MAP</a><p class="items-overview"><br/>It's a land promised by God given to Abraham and its descendants. Map is the easiest way to understand things about particular location. Explore it...</p></div>
                <div class="box2"><a href="https://www.jewishpress.com/" target="_blank">JEWISH PRESS</a><p class="items-overview"><br/>The Jewish Press is an American weekly newspaper based in Brooklyn, New York, and geared toward the Modern Orthodox Jewish community. Get update about middle east and Israel. Explore it...</p></div>
            </div>
            <div class="middle-item2">
                <div class="box2"><a href="x" target="_blank">EVENTS</a><p class="items-overview"><br/>Conference or convention is a series of meetings where topics related to Jesus Christ, the Bible, and the church are discussed. Get update and register for upcoming events and concerts. Explore it...</p></div>
                <div class="box2"><a href="x" target="_blank">END TIMES & PROPHECIES</a><p class="items-overview"><br/>We are living in the last days or end times. Rapture is not far now, it going to take place soon. As Jesus promised, he will return to the earth soon. Most of the bible prophecies have been fulfilled and few has to be. Know about more, explore it...</p></div>
                <div class="box2"><a href="x" target="_blank">CHRISTIAN BAND</a><p class="items-overview"><br/>Created by few members of our church, doing praise and worship all around the world. Explore it...</p></div>
            </div>

        </div>



        <!-- coding for about us -->
        <div id="aboutus">
            <div class="aboutus-glowing">
                <label>
                    <input type="checkbox" name=""/><h1 id="aboutus-onoff"><a name="aboutus"></a>About Us</h1>
                </label>
            </div>
            <div class="aboutus-content">
                <div class="box3"><p>You want to know about true God, know about Israel. We are the organization who tells the truth of history with proofs. Through our Church we organize Israel tour twice in every year to make you understand of true God and true history of the world.</p>
                <p>As Jesus said, we spread the gospel everywhere in the world by organizing various tours and through internet and media etc.</p>
                </div>
            </div>
        </div>



        <!-- coding for ETU Church -->
        <div id="etu">
            <div class="etu-glowing">
                <label>
                    <input type="checkbox" name=""/><h1 id="etu-onoff"><a name="etu"></a>Etu Church And Contact Details</h1>
                </label>
            </div>
            <div class="etu-content">
                <div class="etu-box"><p>Our aim is to spread out the gospel throughout the world to people know about Jesus. As Jesus gave us authority to spread the gospel throughout the world. Organization also conducts public prayer, singing and sermon festivals and broadcast messages through media in order to see people forever changed through the love an compassion of Jesus Christ.</p> <br/>
                <p>“Therefore go make disciples of all nations, baptizing them in the Name of the Father, and of the Son, and of the Holy Spirit, and teaching them to obey everything I have commanded you. And surely I am with you, always, to the end of the age” (Matthew 28:19-20)</p> <br/> <br/>
                <h1 class="contact">CONTACT DETAILS</h1> <br/>
                <p class="contact">Address - Patel Nagar Kanpur Uttar Pradesh Pin: 208007 India</p> <br/>
                <p class="contact">Email Address - rrjackkfinn1993@gmail.com</p> <br/>
                <p class="contact">Mobile No - +917526025152</p> <br/>
                <p class="contact">Sunday worship timing - Summer: 9 am onwards. Winter: 10 am onwards.</p>

                </div>
            </div>

            <!-- coding for image slider ETU CHURCH-->
            <div id="etuslider">
                <figure>
                    <img src="{{ url_for('static', filename='img/applied-images/church1.jpg') }}" alt=""/>
                    <img src="{{ url_for('static', filename='img/applied-images/church9.jpg') }}" alt=""/>
                    <img src="{{ url_for('static', filename='img/applied-images/church4.jpg') }}" alt=""/>
                    <img src="{{ url_for('static', filename='img/applied-images/church6.jpg') }}" alt=""/>
                    <img src="{{ url_for('static', filename='img/applied-images/church1.jpg') }}" alt=""/>
                </figure>
            </div>

        </div>




        <!-- coding for middle content switch on Holy Bible-->
        <div id="bible">
            <div class="bible-glowing">
                <label>
                    <input type="checkbox" name=""/><h1 id="on-off0">Holy Bible</h1>
                </label>
            </div>
            <div class="bible-content">
                <div class="box0"><a href="https://holybooks-lichtenbergpress.netdna-ssl.com/wp-content/uploads/Bible-in-hindi-Dharmasastra.pdf" target="_blank" name="bible"> पवित्र बाइबिल  </a><p class="items-overview"><br/>“पुराना नियम” और “नया नियम” <br/> <br/>  <a href="https://www.wordproject.org/bibles/in/" target="_blank"> अन्य
संपर्क  </a></p></div>
                <div class="box0"><a href="https://holybooks-lichtenbergpress.netdna-ssl.com/wp-content/uploads/2010/05/The-Holy-Bible-King-James-Version.pdf" target="_blank" name="bible">THE HOLY BIBLE</a><p class="items-overview"><br/>Old Testament And New Testament</p></div>
                <div class="box0"><a href="/jud_chris_vid" target="_blank">VIDEOS</a><p class="items-overview"><br/>Click here and watch...</p></div>
            </div>

        </div>





<!-- script for switch on 1st items -->
    <script>
        $(document).ready(function(){
            $('.middle-item1').hide();
            $('#on-off1').click(function(){
                $('.middle-item1').toggle('slow');
                if($(this).text() === 'Explore it'){
                    $(this).text('Close');
                }
                else{
                    $(this).text('Explore it');
                }
            });
        });
    </script>


<!-- script for switch on 2nd items -->
    <script>
        $(document).ready(function(){
            $('.middle-item2').hide();
            $('#on-off2').click(function(){
                $('.middle-item2').toggle('slow');
                if($(this).text() === 'Explore more'){
                    $(this).text('Close');
                }
                else{
                    $(this).text('Explore more');
                }
            });
        });
    </script>



    <!-- script for about us -->
    <script>
        $(document).ready(function(){
            $('.aboutus-content').hide();
            $('#aboutus-onoff').click(function(){
                $('.aboutus-content').toggle('slow');
                if($(this).text() === 'About Us'){
                    $(this).text('Close');
                }
                else{
                    $(this).text('About Us');
                }
            });
        });
    </script>


    <!-- script for ETU CHURCH -->
    <script>
        $(document).ready(function(){
            $('.etu-content').hide();
            $('#etu-onoff').click(function(){
                $('.etu-content').toggle('slow');
                if($(this).text() === 'Etu Church And Contact Details'){
                    $(this).text('Close');
                }
                else{
                    $(this).text('Etu Church And Contact Details');
                }
            });
        });
    </script>








    <!-- script for switch on Holy Bible -->
    <script>
        $(document).ready(function(){
            $('.bible-content').hide();
            $('#on-off0').click(function(){
                $('.bible-content').toggle('slow');
                if($(this).text() === 'Holy Bible'){
                    $(this).text('Close');
                }
                else{
                    $(this).text('Holy Bible');
                }
            });
        });
    </script>

{% endblock %}