{% extends 'layout.html' %}
{% block body %}

    <link rel="stylesheet" href="{{ url_for('static', filename='css/songs.css') }}"/>

        <!-- coding for quotation image elements -->
        <div id="quot">
            <p id="p1">The Lord is my strength and my shield; My heart trusts in him, and he helps me. My heart leaps for joy, and with my song i prais him. &nbsp;&nbsp;&nbsp; Psalm 28:7</p>
        </div>


        <div id="audio">
            <div class="audio-div">
                <h4>Track 1</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/1.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 2</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/2.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 3</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/3.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 4</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/4.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 5</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/5.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 6</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/6.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 7</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/7.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 8</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/8.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 9</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/9.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 10</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/10.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 11</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/11.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 12</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/12.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 13</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/13.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 14</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/14.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 15</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/15.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 16</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/16.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 17</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/17.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 18</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/18.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 19</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/19.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 20</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/20.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 21</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/21.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 22</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/22.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 23</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/23.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 24</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/24.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 25</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/25.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 26</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/26.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 27</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/27.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 28</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/28.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 29</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/29.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 30</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/30.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 31</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/31.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 32</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/32.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 33</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/33.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 34</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/34.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 35</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/35.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 36</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/36.mp36') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 37</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/37.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 38</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/38.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 39</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/39.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 40</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/40.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 41</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/41.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 42</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/42.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 43</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/43.mp3') }}" controls pos></audio>
            </div>

            <div class="audio-div">
                <h4>Track 44</h4>
                <hr class="hori-line"/>
                <audio class="track" src="{{ url_for('static', filename='vids/audio/44.mp3') }}" controls pos></audio>
            </div>

        </div>


{% endblock %}
